

#nameLabel, #nameInput{
    margin-left: 50%;
    margin-right: 50%;
    
}
#emailLabel{
    margin-left: 50%;
    margin-right: 50%;
}
#emailInput{
    margin-left: 50%;
    margin-right: 50%;
}
#submitBTN{
    margin-left: 50%;
    margin-right: 50%;
    background-color: rgb(0, 179, 255);
    color: rgb(240, 240, 240);
    border: 0;
    cursor: pointer;
}
#submitBTN:hover{
    background-color: salmon;
    cursor: pointer;
}
#resultText{
    border: 2.5px solid rgb(21, 0, 252);
    border-radius:5px ;
}
#boldStuff2, #boldStuff3{
    color: blue;
}